---
layout: legacy_component
title: Sample Component
---
{% extends "layouts/base.njk" %}

{% block content %}
# {{ title }}

This is a sample component template that will be migrated.

## Usage

```html
<div class="component">
  <h2>{{ title }}</h2>
  <p>Component content</p>
</div>
```

{% endblock %}