:root {
  --eds-trim-700: 10px;
  --eds-trim-600: 8px;
  --eds-trim-500: 6px;
  --eds-trim-400: 6px;
  --eds-trim-300: 5px;
  --eds-trim-200: 5px;
  --eds-trim-100: 3px;
  --eds-weight-800: 800;
  --eds-weight-700: 700;
  --eds-weight-600: 600;
  --eds-weight-500: 500;
  --eds-weight-400: 400;
  --eds-weight-300: 300;
  --eds-tracking-500: -1.25px;
  --eds-tracking-400: -1px;
  --eds-tracking-300: -0.75px;
  --eds-tracking-200: -0.5px;
  --eds-tracking-100: -0.25px;
  --eds-tracking-50: 0px;
  --eds-tracking-0: 1px;
  --eds-style-italic: italic;
  --eds-style-none: none;
  --eds-size-700: 48px;
  --eds-size-600: 40px;
  --eds-size-500: 32px;
  --eds-size-400: 24px;
  --eds-size-300: 20px;
  --eds-size-200: 18px;
  --eds-size-100: 16px;
  --eds-size-75: 14px;
  --eds-size-50: 12px;
  --eds-line-700: 52px;
  --eds-line-600: 44px;
  --eds-line-500: 36px;
  --eds-line-400: 28px;
  --eds-line-300: 24px;
  --eds-line-200: 20px;
  --eds-line-100: 16px;
  --eds-family-serif: "Roboto Slab", serif;
  --eds-family-sans: "Fidelity Sans", sans-serif;
  --eds-decoration-underline: underline;
  --eds-decoration-none: none;
  --eds-space-1800: 288px;
  --eds-space-800: 128px;
  --eds-space-600: 96px;
  --eds-space-500: 80px;
  --eds-space-400: 64px;
  --eds-space-300: 48px;
  --eds-space-250: 40px;
  --eds-space-200: 32px;
  --eds-space-150: 24px;
  --eds-space-100: 16px;
  --eds-space-75: 12px;
  --eds-space-50: 8px;
  --eds-space-25: 4px;
  --eds-space-18: 3px;
  --eds-space-12: 2px;
  --eds-width-400: 64px;
  --eds-width-300: 48px;
  --eds-width-250: 40px;
  --eds-width-200: 32px;
  --eds-width-150: 24px;
  --eds-width-100: 16px;
  --eds-width-75: 14px;
  --eds-width-50: 12px;
  --eds-stroke-400: 4px;
  --eds-stroke-300: 3px;
  --eds-stroke-200: 2px;
  --eds-stroke-100: 1px;
  --eds-stroke-0: 0px;
  --eds-radius-900: 14400px;
  --eds-radius-200: 24px;
  --eds-radius-100: 12px;
  --eds-radius-50: 8px;
  --eds-radius-25: 4px;
  --eds-radius-18: 3px;
  --eds-radius-0: 0px;
  --eds-height-300: 48px;
  --eds-height-250: 40px;
  --eds-height-200: 32px;
  --eds-height-100: 16px;
  --eds-height-25: 4px;
  --eds-breakpoint-400: 1920px;
  --eds-breakpoint-300: 1280px;
  --eds-breakpoint-200: 1024px;
  --eds-breakpoint-100: 768px;
  --eds-breakpoint-50: 512px;
  --eds-breakpoint-0: 376px;
  --eds-elevation-400: 400;
  --eds-elevation-300: 300;
  --eds-elevation-200: 200;
  --eds-elevation-100: 100;
  --eds-elevation-0: 0;
  --eds-yellow-900: #7B380C;
  --eds-yellow-800: #95440B;
  --eds-yellow-700: #B85905;
  --eds-yellow-600: #DE8001;
  --eds-yellow-500: #F1A204;
  --eds-yellow-400: #FFCA1F;
  --eds-yellow-300: #FFDC49;
  --eds-yellow-200: #FFED87;
  --eds-yellow-100: #FFF6C6;
  --eds-yellow-50: #FFFCEA;
  --eds-red-900: #861616;
  --eds-red-800: #A11313;
  --eds-red-700: #C31212;
  --eds-red-600: #DC1616;
  --eds-red-500: #FA3939;
  --eds-red-400: #FF6868;
  --eds-red-300: #FF9F9F;
  --eds-red-200: #FFC7C7;
  --eds-red-100: #FFE0E0;
  --eds-red-50: #FFF1F1;
  --eds-purple-900: #3A1664;
  --eds-purple-800: #5B2C8F;
  --eds-purple-700: #7232BA;
  --eds-purple-600: #9747F6;
  --eds-purple-500: #AB6AF7;
  --eds-purple-400: #C293F9;
  --eds-purple-300: #D4B3FB;
  --eds-purple-200: #E1CAFC;
  --eds-purple-100: #EFE1FF;
  --eds-purple-50: #F7EFFF;
  --eds-pink-900: #740A56;
  --eds-pink-800: #981077;
  --eds-pink-700: #C318A0;
  --eds-pink-600: #E520C6;
  --eds-pink-500: #FD27E5;
  --eds-pink-400: #FD67F1;
  --eds-pink-300: #FE98F5;
  --eds-pink-200: #FEC2F9;
  --eds-pink-100: #FFDEFC;
  --eds-pink-50: #FFF5FE;
  --eds-orange-900: #7F330F;
  --eds-orange-800: #9D3B0F;
  --eds-orange-700: #C74B07;
  --eds-orange-600: #DE5E06;
  --eds-orange-500: #FF8210;
  --eds-orange-400: #FF9F37;
  --eds-orange-300: #FFC371;
  --eds-orange-200: #FFDDA8;
  --eds-orange-100: #FFF0D4;
  --eds-orange-50: #FFF8ED;
  --eds-neutral-900: #141414;
  --eds-neutral-800: #292928;
  --eds-neutral-700: #403F3E;
  --eds-neutral-600: #525150;
  --eds-neutral-500: #757473;
  --eds-neutral-400: #ABAAA8;
  --eds-neutral-300: #D9D8D5;
  --eds-neutral-200: #E6E4E1;
  --eds-neutral-100: #F5F3F0;
  --eds-neutral-50: #F9F7F5;
  --eds-neutral-0: #FFFFFF;
  --eds-lime-100: #6AD539;
  --eds-lightness-1000: #FFFFFFFF;
  --eds-lightness-950: #FFFFFFF5;
  --eds-lightness-900: #FFFFFFEB;
  --eds-lightness-800: #FFFFFFE0;
  --eds-lightness-700: #FFFFFFC2;
  --eds-lightness-600: #FFFFFFA3;
  --eds-lightness-500: #FFFFFF7A;
  --eds-lightness-400: #FFFFFF3D;
  --eds-lightness-300: #FFFFFF1F;
  --eds-lightness-200: #FFFFFF14;
  --eds-lightness-100: #FFFFFF0A;
  --eds-lightness-50: #FFFFFF05;
  --eds-lightness-0: #FFFFFF00;
  --eds-green-900: #044014;
  --eds-green-800: #0F5319;
  --eds-green-700: #1E6F1D;
  --eds-green-600: #368727;
  --eds-green-500: #48AC36;
  --eds-green-400: #65C754;
  --eds-green-300: #8AD97C;
  --eds-green-200: #BBEBB2;
  --eds-green-100: #D4F3CF;
  --eds-green-50: #EDFAEB;
  --eds-gold-900: #705F00;
  --eds-gold-800: #877300;
  --eds-gold-700: #997E05;
  --eds-gold-600: #B59207;
  --eds-gold-500: #CCAE39;
  --eds-gold-400: #DBCA72;
  --eds-gold-300: #E2D698;
  --eds-gold-200: #EEE7C4;
  --eds-gold-100: #F7F4E4;
  --eds-gold-50: #FBFAF3;
  --eds-darkness-1000: #000000FF;
  --eds-darkness-950: #000000F5;
  --eds-darkness-900: #000000EB;
  --eds-darkness-800: #000000E0;
  --eds-darkness-700: #000000C2;
  --eds-darkness-600: #000000A3;
  --eds-darkness-500: #0000007A;
  --eds-darkness-400: #0000003D;
  --eds-darkness-300: #0000001F;
  --eds-darkness-200: #00000014;
  --eds-darkness-100: #0000000A;
  --eds-darkness-50: #00000005;
  --eds-darkness-0: #00000000;
  --eds-cobalt-900: #053C58;
  --eds-cobalt-800: #075A85;
  --eds-cobalt-700: #047CB8;
  --eds-cobalt-600: #0799D9;
  --eds-cobalt-500: #29BBF7;
  --eds-cobalt-400: #74D5FC;
  --eds-cobalt-300: #A3E2FF;
  --eds-cobalt-200: #CCF0FF;
  --eds-cobalt-100: #E3F8FF;
  --eds-cobalt-50: #F5FDFF;
  --eds-blue-900: #132454;
  --eds-blue-800: #1D3986;
  --eds-blue-700: #2751C2;
  --eds-blue-600: #3266E0;
  --eds-blue-500: #3880F3;
  --eds-blue-400: #60A5FA;
  --eds-blue-300: #8CC1FD;
  --eds-blue-200: #B8D9FF;
  --eds-blue-100: #DAEBFF;
  --eds-blue-50: #F5FAFF;
  --eds-aqua-900: #0D544B;
  --eds-aqua-800: #0A655A;
  --eds-aqua-700: #058070;
  --eds-aqua-600: #009681;
  --eds-aqua-500: #04C8A8;
  --eds-aqua-400: #1DE4CA;
  --eds-aqua-300: #51F7D5;
  --eds-aqua-200: #90FFE3;
  --eds-aqua-100: #C7FFF1;
  --eds-aqua-50: #F2FFFC;
}

body,
.eds-theme--fidelity-light {
  --eds-toggle-width: var( --eds-height-100);
  --eds-toggle-stroke: var( --eds-stroke-100);
  --eds-toggle-radius--square: var( --eds-radius-18);
  --eds-toggle-radius: var( --eds-radius-900);
  --eds-toggle-padding: var( --eds-space-100);
  --eds-toggle-height: var( --eds-height-100);
  --eds-toggle-gap: var( --eds-space-12);
  --eds-toggle-foreground--hover: var( --eds-neutral-0);
  --eds-toggle-foreground--disabled: var( --eds-neutral-400);
  --eds-toggle-foreground--active: var( --eds-neutral-0);
  --eds-toggle-foreground: var( --eds-neutral-0);
  --eds-toggle-fill--error: var( --eds-red-700);
  --eds-toggle-fill--disabled: var( --eds-neutral-400);
  --eds-toggle-fill--active: var( --eds-green-700);
  --eds-toggle-fill: var( --eds-neutral-500);
  --eds-toggle-background--hover: var( --eds-neutral-200);
  --eds-toggle-background--disabled: var( --eds-neutral-200);
  --eds-toggle-background--active: var( --eds-green-600);
  --eds-toggle-background: var( --eds-neutral-0);
  --eds-text-size: var( --eds-size-100);
  --eds-text-fill: var( --eds-neutral-900);
  --eds-text-fill--secondary: var( --eds-neutral-600);
  --eds-text-family: var( --eds-family-sans);
  --eds-separator-stroke: var( --eds-stroke-100);
  --eds-separator-gap: var( --eds-space-50);
  --eds-separator-fill: var( --eds-neutral-600);
  --eds-section-padding: var( --eds-space-150);
  --eds-section-margin: var( --eds-space-300);
  --eds-section-gap: var( --eds-space-150);
  --eds-outline-stroke: var( --eds-stroke-200);
  --eds-outline-margin: var( --eds-space-18);
  --eds-outline-fill: var( --eds-neutral-900);
  --eds-nav-weight--hover: var( --eds-weight-600);
  --eds-nav-weight--focus: var( --eds-weight-600);
  --eds-nav-weight--active: var( --eds-weight-700);
  --eds-nav-weight: var( --eds-weight-600);
  --eds-nav-stroke: var( --eds-stroke-400);
  --eds-nav-size: var( --eds-size-100);
  --eds-nav-padding: var( --eds-space-150);
  --eds-nav-height: var( --eds-space-500);
  --eds-nav-gap: var( --eds-space-200);
  --eds-nav-foreground--hover: var( --eds-neutral-900);
  --eds-nav-foreground--focus: var( --eds-neutral-900);
  --eds-nav-foreground--active: var( --eds-neutral-900);
  --eds-nav-foreground: var( --eds-neutral-900);
  --eds-nav-fill--hover: var( --eds-neutral-900);
  --eds-nav-fill--focus: var( --eds-neutral-900);
  --eds-nav-fill--active: var( --eds-green-600);
  --eds-nav-fill: var( --eds-lightness-0);
  --eds-nav-background--hover: var( --eds-neutral-100);
  --eds-nav-background--focus: var( --eds-lightness-0);
  --eds-nav-background--active: var( --eds-lightness-0);
  --eds-nav-background: var( --eds-lightness-0);
  --eds-media-radius--round: var( --eds-radius-200);
  --eds-media-radius--circle: var( --eds-radius-900);
  --eds-media-radius: var( --eds-radius-100);
  --eds-media-gap: var( --eds-space-50);
  --eds-list-stroke: var( --eds-stroke-100);
  --eds-list-size: var( --eds-size-100);
  --eds-list-radius: var( --eds-radius-50);
  --eds-list-padding--sides: var( --eds-space-100);
  --eds-list-padding: var( --eds-space-100);
  --eds-list-fill: var( --eds-neutral-400);
  --eds-list-background--header: var( --eds-neutral-200);
  --eds-list-background--focus: var( --eds-green-50);
  --eds-list-background--active: var( --eds-neutral-50);
  --eds-list-background: var( --eds-neutral-0);
  --eds-link-weight--active: var( --eds-weight-700);
  --eds-link-weight: var( --eds-weight-400);
  --eds-link-size: var( --eds-size-100);
  --eds-link-line: var( --eds-line-200);
  --eds-link-gap: var( --eds-space-25);
  --eds-link-foreground--hover: var( --eds-blue-900);
  --eds-link-foreground--focus: var( --eds-blue-900);
  --eds-link-foreground--disabled: var( --eds-neutral-400);
  --eds-link-foreground--active: var( --eds-blue-900);
  --eds-link-foreground: var( --eds-blue-800);
  --eds-link-decoration--hover: var( --eds-decoration-underline);
  --eds-link-decoration--focus: var( --eds-decoration-underline);
  --eds-link-decoration--disabled: var( --eds-decoration-underline);
  --eds-link-decoration--active: var( --eds-decoration-underline);
  --eds-link-decoration: var( --eds-decoration-underline);
  --eds-layout-width--md: var( --eds-breakpoint-200);
  --eds-layout-width--lg: var( --eds-breakpoint-300);
  --eds-layout-width: var( --eds-breakpoint-100);
  --eds-layout-padding--two: var( --eds-space-300);
  --eds-layout-padding--three: var( --eds-space-400);
  --eds-layout-padding--half: var( --eds-space-75);
  --eds-layout-padding--four: var( --eds-space-600);
  --eds-layout-padding: var( --eds-space-150);
  --eds-layout-margin: var( --eds-space-150);
  --eds-layout-gap--two: var( --eds-space-300);
  --eds-layout-gap--three: var( --eds-space-400);
  --eds-layout-gap--half: var( --eds-space-75);
  --eds-layout-gap--four: var( --eds-space-600);
  --eds-layout-gap: var( --eds-space-150);
  --eds-layer-stroke: var( --eds-stroke-100);
  --eds-layer-padding: var( --eds-space-150);
  --eds-layer-foreground: var( --eds-neutral-900);
  --eds-layer-fill: var( --eds-neutral-500);
  --eds-layer-background--meta: var( --eds-neutral-100);
  --eds-layer-background--content: var( --eds-neutral-0);
  --eds-layer-background: var( --eds-neutral-50);
  --eds-label-fill: var( --eds-neutral-500);
  --eds-input-weight: var( --eds-weight-400);
  --eds-input-style: var( --eds-style-none);
  --eds-input-stroke: var( --eds-stroke-100);
  --eds-input-size: var( --eds-size-100);
  --eds-input-radius--round: var( --eds-radius-900);
  --eds-input-radius: var( --eds-radius-50);
  --eds-input-placeholder: var( --eds-neutral-700);
  --eds-input-padding: var( --eds-space-100);
  --eds-input-line: var( --eds-line-300);
  --eds-input-height: var( --eds-height-250);
  --eds-input-gap: var( --eds-space-50);
  --eds-input-foreground--hover: var( --eds-neutral-900);
  --eds-input-foreground--focus: var( --eds-neutral-900);
  --eds-input-foreground--disabled: var( --eds-neutral-400);
  --eds-input-foreground--active: var( --eds-neutral-100);
  --eds-input-foreground: var( --eds-neutral-900);
  --eds-input-fill--hover: var( --eds-neutral-800);
  --eds-input-fill--focus: var( --eds-neutral-900);
  --eds-input-fill--error: var( --eds-red-700);
  --eds-input-fill--disabled: var( --eds-neutral-400);
  --eds-input-fill--active: var( --eds-neutral-200);
  --eds-input-fill: var( --eds-neutral-500);
  --eds-input-background--hover: var( --eds-neutral-0);
  --eds-input-background--focus: var( --eds-neutral-0);
  --eds-input-background--disabled: var( --eds-neutral-200);
  --eds-input-background--active: var( --eds-green-400);
  --eds-input-background: var( --eds-neutral-0);
  --eds-indicator-radius--round: var( --eds-radius-900);
  --eds-indicator-radius: var( --eds-radius-25);
  --eds-indicator-padding: var( --eds-space-12);
  --eds-indicator-padding--sides: var( --eds-space-50);
  --eds-indicator-height: var( --eds-height-25);
  --eds-indicator-foreground--warning: var( --eds-orange-800);
  --eds-indicator-foreground--success: var( --eds-green-700);
  --eds-indicator-foreground--status: var( --eds-neutral-0);
  --eds-indicator-foreground--info: var( --eds-blue-700);
  --eds-indicator-foreground--critical: var( --eds-red-700);
  --eds-indicator-foreground: var( --eds-neutral-700);
  --eds-indicator-fill--warning: var( --eds-orange-900);
  --eds-indicator-fill--success: var( --eds-green-800);
  --eds-indicator-fill--status: var( --eds-green-600);
  --eds-indicator-fill--neutral: var( --eds-neutral-600);
  --eds-indicator-fill--loss: var( --eds-red-700);
  --eds-indicator-fill--info: var( --eds-blue-800);
  --eds-indicator-fill--gain: var( --eds-green-700);
  --eds-indicator-fill--critical: var( --eds-red-800);
  --eds-indicator-fill: var( --eds-neutral-500);
  --eds-indicator-background--warning: var( --eds-orange-50);
  --eds-indicator-background--warning-hover: var( --eds-orange-100);
  --eds-indicator-background--success-hover: var( --eds-green-100);
  --eds-indicator-background--success: var( --eds-green-50);
  --eds-indicator-background--status: var( --eds-green-600);
  --eds-indicator-background--info: var( --eds-blue-50);
  --eds-indicator-background--info-hover: var( --eds-blue-100);
  --eds-indicator-background--critical: var( --eds-red-50);
  --eds-indicator-background--critical-hover: var( --eds-red-100);
  --eds-indicator-background: var( --eds-neutral-100);
  --eds-icon-width: var( --eds-width-150);
  --eds-icon-padding: var( --eds-space-12);
  --eds-icon-height: var( --eds-width-150);
  --eds-icon-foreground: var( --eds-neutral-900);
  --eds-icon-data: var( --eds-lightness-0);
  --eds-global--z-page: var( --eds-elevation-0);
  --eds-global--z-nav: var( --eds-elevation-100);
  --eds-global--top-nav-height: var( --eds-space-500);
  --eds-global--side-panel-width: var( --eds-space-1800);
  --eds-global--side-menu-width: var( --eds-space-500);
  --eds-box-stroke: var( --eds-stroke-100);
  --eds-box-radius--sm: var( --eds-radius-50);
  --eds-box-radius--lg: var( --eds-radius-200);
  --eds-box-radius: var( --eds-radius-100);
  --eds-box-padding--lg: var( --eds-space-200);
  --eds-box-padding: var( --eds-space-100);
  --eds-box-margin: var( --eds-space-150);
  --eds-box-gap: var( --eds-space-150);
  --eds-box-foreground: var( --eds-neutral-900);
  --eds-box-fill--focus: var( --eds-neutral-900);
  --eds-box-fill: var( --eds-neutral-200);
  --eds-box-background: var( --eds-neutral-0);
  --eds-avatar-width: var( --eds-width-300);
  --eds-avatar-stroke: var( --eds-stroke-200);
  --eds-avatar-radius: var( --eds-radius-900);
  --eds-avatar-padding: var( --eds-space-150);
  --eds-avatar-height: var( --eds-width-300);
  --eds-avatar-gap: var( --eds-space-50);
  --eds-avatar-foreground: var( --eds-green-600);
  --eds-avatar-background: var( --eds-neutral-0);
  --eds-action-tertiary-weight: var( --eds-weight-600);
  --eds-action-tertiary-foreground--hover: var( --eds-neutral-900);
  --eds-action-tertiary-foreground--focus: var( --eds-neutral-900);
  --eds-action-tertiary-foreground--disabled: var( --eds-neutral-400);
  --eds-action-tertiary-foreground--active: var( --eds-neutral-900);
  --eds-action-tertiary-foreground: var( --eds-neutral-900);
  --eds-action-tertiary-fill: var( --eds-neutral-0);
  --eds-action-tertiary-background--hover: var( --eds-neutral-200);
  --eds-action-tertiary-background--focus: var( --eds-neutral-200);
  --eds-action-tertiary-background--disabled: var( --eds-neutral-100);
  --eds-action-tertiary-background--active: var( --eds-lightness-0);
  --eds-action-tertiary-background: var( --eds-lightness-0);
  --eds-action-secondary-weight: var( --eds-weight-600);
  --eds-action-secondary-foreground--hover: var( --eds-neutral-900);
  --eds-action-secondary-foreground--focus: var( --eds-neutral-900);
  --eds-action-secondary-foreground--disabled: var( --eds-neutral-400);
  --eds-action-secondary-foreground--active: var( --eds-neutral-900);
  --eds-action-secondary-foreground: var( --eds-neutral-900);
  --eds-action-secondary-fill: var( --eds-neutral-600);
  --eds-action-secondary-background--hover: var( --eds-neutral-200);
  --eds-action-secondary-background--focus: var( --eds-neutral-200);
  --eds-action-secondary-background--disabled: var( --eds-neutral-100);
  --eds-action-secondary-background--active: var( --eds-lightness-0);
  --eds-action-secondary-background: var( --eds-lightness-0);
  --eds-action-primary-weight: var( --eds-weight-600);
  --eds-action-primary-foreground--hover: var( --eds-neutral-0);
  --eds-action-primary-foreground--focus: var( --eds-neutral-0);
  --eds-action-primary-foreground--disabled: var( --eds-neutral-400);
  --eds-action-primary-foreground--active: var( --eds-neutral-0);
  --eds-action-primary-foreground: var( --eds-neutral-0);
  --eds-action-primary-fill: var( --eds-green-600);
  --eds-action-primary-background--hover: var( --eds-green-700);
  --eds-action-primary-background--focus: var( --eds-green-700);
  --eds-action-primary-background--disabled: var( --eds-neutral-100);
  --eds-action-primary-background--active: var( --eds-green-700);
  --eds-action-primary-background: var( --eds-green-600);
}
body .eds-accent--solid,
.eds-theme--fidelity-light .eds-accent--solid {
  --eds-layer-background: var( --eds-neutral-0);
}
body .eds-accent--green,
.eds-theme--fidelity-light .eds-accent--green {
  --eds-text-fill: var( --eds-neutral-0);
  --eds-submit-foreground: var( --eds-neutral-900);
  --eds-submit-background: var( --eds-neutral-0);
  --eds-outline-fill: var( --eds-green-600);
  --eds-nav-foreground--hover: var( --eds-neutral-0);
  --eds-nav-foreground--focus: var( --eds-neutral-0);
  --eds-nav-foreground--active: var( --eds-neutral-0);
  --eds-nav-foreground: var( --eds-neutral-0);
  --eds-nav-fill--hover: var( --eds-green-800);
  --eds-nav-fill--focus: var( --eds-neutral-0);
  --eds-nav-fill--active: var( --eds-green-500);
  --eds-nav-fill: var( --eds-green-800);
  --eds-nav-background--hover: var( --eds-green-800);
  --eds-nav-background--focus: var( --eds-green-900);
  --eds-nav-background--active: var( --eds-green-900);
  --eds-nav-background: var( --eds-green-900);
  --eds-link-foreground: var( --eds-neutral-0);
  --eds-layer-background: var( --eds-green-900);
  --eds-input-fill--hover: var( --eds-neutral-0);
  --eds-input-fill--focus: var( --eds-neutral-0);
  --eds-input-fill--error: var( --eds-red-400);
  --eds-input-fill--disabled: var( --eds-neutral-500);
  --eds-input-fill--active: var( --eds-neutral-0);
  --eds-input-fill: var( --eds-neutral-0);
  --eds-box-foreground: var( --eds-neutral-900);
  --eds-box-background: var( --eds-neutral-0);
  --eds-action-stroke: var( --eds-stroke-100);
  --eds-action-foreground--hover: var( --eds-green-200);
  --eds-action-foreground--focus: var( --eds-green-200);
  --eds-action-foreground--disabled: var( --eds-green-400);
  --eds-action-foreground--active: var( --eds-green-200);
  --eds-action-foreground: var( --eds-green-200);
  --eds-action-fill: var( --eds-green-200);
  --eds-action-background--hover: var( --eds-green-600);
  --eds-action-background--focus: var( --eds-green-600);
  --eds-action-background--disabled: var( --eds-green-600);
  --eds-action-background--active: var( --eds-lightness-0);
  --eds-action-background: var( --eds-lightness-0);
}

.eds-theme--fidelity-dark {
  --eds-toggle-width: var( --eds-height-100);
  --eds-toggle-stroke: var( --eds-stroke-100);
  --eds-toggle-radius--square: var( --eds-radius-18);
  --eds-toggle-radius: var( --eds-radius-900);
  --eds-toggle-padding: var( --eds-space-100);
  --eds-toggle-height: var( --eds-height-100);
  --eds-toggle-gap: var( --eds-space-12);
  --eds-toggle-foreground--hover: var( --eds-neutral-0);
  --eds-toggle-foreground--disabled: var( --eds-neutral-600);
  --eds-toggle-foreground--active: var( --eds-neutral-0);
  --eds-toggle-foreground: var( --eds-neutral-0);
  --eds-toggle-fill--error: var( --eds-red-400);
  --eds-toggle-fill--disabled: var( --eds-neutral-600);
  --eds-toggle-fill--active: var( --eds-green-200);
  --eds-toggle-fill: var( --eds-neutral-400);
  --eds-toggle-background--hover: var( --eds-neutral-500);
  --eds-toggle-background--disabled: var( --eds-neutral-500);
  --eds-toggle-background--active: var( --eds-green-300);
  --eds-toggle-background: var( --eds-neutral-900);
  --eds-text-size: var( --eds-size-100);
  --eds-text-fill: var( --eds-neutral-0);
  --eds-text-fill--secondary: var( --eds-neutral-300);
  --eds-text-family: var( --eds-family-sans);
  --eds-separator-stroke: var( --eds-stroke-100);
  --eds-separator-gap: var( --eds-space-50);
  --eds-separator-fill: var( --eds-neutral-400);
  --eds-section-padding: var( --eds-space-150);
  --eds-section-margin: var( --eds-space-300);
  --eds-section-gap: var( --eds-space-150);
  --eds-outline-stroke: var( --eds-stroke-200);
  --eds-outline-margin: var( --eds-space-18);
  --eds-outline-fill: var( --eds-neutral-0);
  --eds-nav-weight--hover: var( --eds-weight-600);
  --eds-nav-weight--focus: var( --eds-weight-600);
  --eds-nav-weight--active: var( --eds-weight-700);
  --eds-nav-weight: var( --eds-weight-600);
  --eds-nav-stroke: var( --eds-stroke-400);
  --eds-nav-size: var( --eds-size-100);
  --eds-nav-padding: var( --eds-space-150);
  --eds-nav-height: var( --eds-space-500);
  --eds-nav-gap: var( --eds-space-200);
  --eds-nav-foreground--hover: var( --eds-neutral-0);
  --eds-nav-foreground--focus: var( --eds-neutral-0);
  --eds-nav-foreground--active: var( --eds-neutral-0);
  --eds-nav-foreground: var( --eds-neutral-0);
  --eds-nav-fill--hover: var( --eds-neutral-0);
  --eds-nav-fill--focus: var( --eds-neutral-0);
  --eds-nav-fill--active: var( --eds-green-300);
  --eds-nav-fill: var( --eds-lightness-900);
  --eds-nav-background--hover: var( --eds-neutral-800);
  --eds-nav-background--focus: var( --eds-darkness-0);
  --eds-nav-background--active: var( --eds-darkness-0);
  --eds-nav-background: var( --eds-darkness-0);
  --eds-media-radius--round: var( --eds-radius-200);
  --eds-media-radius--circle: var( --eds-radius-900);
  --eds-media-radius: var( --eds-radius-100);
  --eds-list-stroke: var( --eds-stroke-100);
  --eds-list-size: var( --eds-size-100);
  --eds-list-radius: var( --eds-radius-50);
  --eds-list-padding--sides: var( --eds-space-100);
  --eds-list-padding: var( --eds-space-100);
  --eds-list-fill: var( --eds-neutral-500);
  --eds-list-background--header: var( --eds-neutral-800);
  --eds-list-background--focus: var( --eds-green-900);
  --eds-list-background--active: var( --eds-neutral-900);
  --eds-list-background: var( --eds-neutral-900);
  --eds-link-weight--active: var( --eds-weight-700);
  --eds-link-weight: var( --eds-weight-400);
  --eds-link-size: var( --eds-size-100);
  --eds-link-line: var( --eds-line-200);
  --eds-link-gap: var( --eds-space-25);
  --eds-link-foreground--hover: var( --eds-blue-200);
  --eds-link-foreground--focus: var( --eds-blue-200);
  --eds-link-foreground--disabled: var( --eds-neutral-600);
  --eds-link-foreground--active: var( --eds-blue-200);
  --eds-link-foreground: var( --eds-blue-300);
  --eds-link-decoration--hover: var( --eds-decoration-underline);
  --eds-link-decoration--focus: var( --eds-decoration-underline);
  --eds-link-decoration--disabled: var( --eds-decoration-underline);
  --eds-link-decoration--active: var( --eds-decoration-underline);
  --eds-link-decoration: var( --eds-decoration-underline);
  --eds-layout-width: var( --eds-breakpoint-100);
  --eds-layout-width--md: var( --eds-breakpoint-200);
  --eds-layout-width--lg: var( --eds-breakpoint-300);
  --eds-layout-padding--two: var( --eds-space-300);
  --eds-layout-padding--three: var( --eds-space-400);
  --eds-layout-padding--half: var( --eds-space-75);
  --eds-layout-padding--four: var( --eds-space-600);
  --eds-layout-padding: var( --eds-space-150);
  --eds-layout-margin: var( --eds-space-150);
  --eds-layout-gap--two: var( --eds-space-300);
  --eds-layout-gap--three: var( --eds-space-400);
  --eds-layout-gap--half: var( --eds-space-75);
  --eds-layout-gap--four: var( --eds-space-600);
  --eds-layout-gap: var( --eds-space-150);
  --eds-layer-stroke: var( --eds-stroke-100);
  --eds-layer-padding: var( --eds-space-150);
  --eds-layer-foreground: var( --eds-neutral-900);
  --eds-layer-fill: var( --eds-neutral-500);
  --eds-layer-background--meta: var( --eds-neutral-100);
  --eds-layer-background--content: var( --eds-neutral-800);
  --eds-layer-background: var( --eds-neutral-900);
  --eds-label-fill: var( --eds-neutral-400);
  --eds-input-weight: var( --eds-weight-400);
  --eds-input-style: var( --eds-style-none);
  --eds-input-stroke: var( --eds-stroke-100);
  --eds-input-size: var( --eds-size-100);
  --eds-input-radius--round: var( --eds-radius-900);
  --eds-input-radius: var( --eds-radius-50);
  --eds-input-placeholder: var( --eds-neutral-50);
  --eds-input-padding: var( --eds-space-100);
  --eds-input-line: var( --eds-line-300);
  --eds-input-height: var( --eds-height-250);
  --eds-input-gap: var( --eds-space-50);
  --eds-input-foreground--hover: var( --eds-neutral-0);
  --eds-input-foreground--focus: var( --eds-neutral-0);
  --eds-input-foreground--disabled: var( --eds-neutral-600);
  --eds-input-foreground--active: var( --eds-neutral-0);
  --eds-input-foreground: var( --eds-neutral-0);
  --eds-input-fill--hover: var( --eds-neutral-50);
  --eds-input-fill--focus: var( --eds-neutral-0);
  --eds-input-fill--error: var( --eds-red-400);
  --eds-input-fill--disabled: var( --eds-neutral-600);
  --eds-input-fill--active: var( --eds-neutral-500);
  --eds-input-fill: var( --eds-neutral-400);
  --eds-input-background--hover: var( --eds-neutral-900);
  --eds-input-background--focus: var( --eds-neutral-900);
  --eds-input-background--disabled: var( --eds-neutral-800);
  --eds-input-background--active: var( --eds-green-500);
  --eds-input-background: var( --eds-neutral-900);
  --eds-indicator-radius--round: var( --eds-radius-900);
  --eds-indicator-radius: var( --eds-radius-25);
  --eds-indicator-padding: var( --eds-space-12);
  --eds-indicator-padding--sides: var( --eds-space-50);
  --eds-indicator-foreground--warning: var( --eds-orange-300);
  --eds-indicator-foreground--success: var( --eds-green-400);
  --eds-indicator-foreground--info: var( --eds-blue-400);
  --eds-indicator-foreground--critical: var( --eds-red-300);
  --eds-indicator-foreground: var( --eds-neutral-700);
  --eds-indicator-fill--warning: var( --eds-orange-50);
  --eds-indicator-fill--success: var( --eds-green-100);
  --eds-indicator-fill--status: var( --eds-green-300);
  --eds-indicator-fill--neutral: var( --eds-neutral-300);
  --eds-indicator-fill--loss: var( --eds-red-400);
  --eds-indicator-fill--info: var( --eds-blue-100);
  --eds-indicator-fill--gain: var( --eds-green-400);
  --eds-indicator-fill--critical: var( --eds-red-50);
  --eds-indicator-fill: var( --eds-neutral-500);
  --eds-indicator-background--warning: var( --eds-orange-900);
  --eds-indicator-background--warning-hover: var( --eds-orange-300);
  --eds-indicator-background--success: var( --eds-green-900);
  --eds-indicator-background--success-hover: var( --eds-green-300);
  --eds-indicator-background--status: var( --eds-green-300);
  --eds-indicator-background--info: var( --eds-blue-900);
  --eds-indicator-background--info-hover: var( --eds-blue-300);
  --eds-indicator-background--critical: var( --eds-red-900);
  --eds-indicator-background--critical-hover: var( --eds-red-300);
  --eds-indicator-background: var( --eds-neutral-900);
  --eds-icon-width: var( --eds-width-150);
  --eds-icon-padding: var( --eds-space-12);
  --eds-icon-height: var( --eds-width-150);
  --eds-icon-foreground: var( --eds-neutral-0);
  --eds-icon-data: var( --eds-lightness-0);
  --eds-global--z-page: var( --eds-elevation-0);
  --eds-global--z-nav: var( --eds-elevation-100);
  --eds-global--top-nav-height: var( --eds-space-500);
  --eds-global--side-panel-width: var( --eds-space-1800);
  --eds-global--side-menu-width: var( --eds-space-500);
  --eds-box-stroke: var( --eds-stroke-100);
  --eds-box-radius--lg: var( --eds-radius-200);
  --eds-box-radius: var( --eds-radius-100);
  --eds-box-padding--lg: var( --eds-space-200);
  --eds-box-padding: var( --eds-space-100);
  --eds-box-margin: var( --eds-space-150);
  --eds-box-gap: var( --eds-space-150);
  --eds-box-foreground: var( --eds-neutral-900);
  --eds-box-fill--focus: var( --eds-neutral-900);
  --eds-box-fill: var( --eds-neutral-500);
  --eds-box-background: var( --eds-neutral-900);
  --eds-avatar-width: var( --eds-width-300);
  --eds-avatar-stroke: var( --eds-stroke-200);
  --eds-avatar-radius: var( --eds-radius-900);
  --eds-avatar-padding: var( --eds-space-150);
  --eds-avatar-height: var( --eds-width-300);
  --eds-avatar-gap: var( --eds-space-50);
  --eds-avatar-foreground: var( --eds-green-300);
  --eds-avatar-background: var( --eds-neutral-900);
  --eds-action-tertiary-weight: var( --eds-weight-600);
  --eds-action-tertiary-foreground--hover: var( --eds-neutral-0);
  --eds-action-tertiary-foreground--focus: var( --eds-neutral-0);
  --eds-action-tertiary-foreground--disabled: var( --eds-neutral-600);
  --eds-action-tertiary-foreground--active: var( --eds-neutral-0);
  --eds-action-tertiary-foreground: var( --eds-neutral-0);
  --eds-action-tertiary-fill: var( --eds-darkness-0);
  --eds-action-tertiary-background--hover: var( --eds-neutral-500);
  --eds-action-tertiary-background--focus: var( --eds-neutral-500);
  --eds-action-tertiary-background--disabled: var( --eds-neutral-800);
  --eds-action-tertiary-background--active: var( --eds-darkness-0);
  --eds-action-tertiary-background: var( --eds-darkness-0);
  --eds-action-secondary-weight: var( --eds-weight-600);
  --eds-action-secondary-foreground--hover: var( --eds-neutral-0);
  --eds-action-secondary-foreground--focus: var( --eds-neutral-0);
  --eds-action-secondary-foreground--disabled: var( --eds-neutral-600);
  --eds-action-secondary-foreground--active: var( --eds-neutral-0);
  --eds-action-secondary-foreground: var( --eds-neutral-0);
  --eds-action-secondary-fill: var( --eds-neutral-400);
  --eds-action-secondary-background--hover: var( --eds-neutral-500);
  --eds-action-secondary-background--focus: var( --eds-neutral-500);
  --eds-action-secondary-background--disabled: var( --eds-neutral-800);
  --eds-action-secondary-background--active: var( --eds-darkness-900);
  --eds-action-secondary-background: var( --eds-darkness-0);
  --eds-action-primary-weight: var( --eds-weight-600);
  --eds-action-primary-foreground--hover: var( --eds-neutral-900);
  --eds-action-primary-foreground--focus: var( --eds-neutral-900);
  --eds-action-primary-foreground--disabled: var( --eds-neutral-400);
  --eds-action-primary-foreground--active: var( --eds-neutral-900);
  --eds-action-primary-foreground: var( --eds-neutral-900);
  --eds-action-primary-fill: var( --eds-green-300);
  --eds-action-primary-background--hover: var( --eds-green-200);
  --eds-action-primary-background--focus: var( --eds-green-200);
  --eds-action-primary-background--disabled: var( --eds-neutral-800);
  --eds-action-primary-background--active: var( --eds-green-200);
  --eds-action-primary-background: var( --eds-green-300);
}
.eds-theme--fidelity-dark .eds-accent--solid {
  --eds-layer-background: var( --eds-neutral-800);
}

.eds-density--compact {
  --eds-nav-stroke: var( --eds-stroke-200);
  --eds-nav-size: var( --eds-size-75);
  --eds-nav-padding: var( --eds-space-100);
  --eds-nav-height: var( --eds-space-500);
  --eds-list-size: var( --eds-size-75);
  --eds-list-padding: var( --eds-space-50);
  --eds-list-padding--sides: var( --eds-space-75);
  --eds-layer-padding: var( --eds-space-150);
  --eds-button-v-padding: var( --eds-space-50);
  --eds-button-size: var( --eds-size-50);
  --eds-button-h-padding: var( --eds-space-100);
  --eds-box-radius--lg: var( --eds-radius-100);
  --eds-box-padding: var( --eds-space-50);
  --eds-box-padding--lg: var( --eds-space-100);
}

.eds-density--chonk {
  --eds-layer-padding: var( --eds-space-300);
  --eds-button-v-padding: var( --eds-space-100);
  --eds-button-size: var( --eds-size-50);
  --eds-button-h-padding: var( --eds-space-100);
  --eds-box-padding--lg: var( --eds-space-300);
  --eds-box-padding: var( --eds-space-200);
}
