---
layout: assets/layouts/wrapper.njk
title: Docs
---

<div class="eds-global-layout__nav">
  <div class="eds-stack-layout--scroll">
    <div class="eds-pad--top eds-pad--sides">
      <form name="tocChannelSelect" class="eds-form-layout">
        <label for="channelSelect" class="eds-vis--visually-hidden">Select Channel to filter by</label>
        <div class="eds-select">
          <select name="state" id="channelSelect" class="eds-select__select" style="opacity: 1;">
            <option value="web">Web</option>
            <option value="ios">iOS</option>
            <option value="android">Android</option>
          </select>
        </div>
      </form>
    </div>
    <div class="eds-pad--bottom eds-pad--sides">
      {% set navPages = collections.all | eleventyNavigation("design-system") | navSectionSort %}
      {% include "tree-menu.njk" %}
    </div>
  </div>
</div>
<main class="eds-global-layout__main" id="globalMain">
  <div class="eds-page-layout">
    <div class="eds-page-layout__section eds-accent--solid eds-text--with-margins eds-text--reading-width">
      <div class="eds-page-layout__content">
        <div class="eds-html-content">
          <h1 class="eds-text--headline-page" id="componentName">{{ eleventyNavigation.title }}</h1>
          <p class="eds-text--paragraph-lede">{{ description }}</p>
        </div>
      </div>
    </div>
    {%- if status == 'Development' or status == 'Draft' %}
      <div class="eds-page-layout__section eds-accent--solid eds-text--reading-width">
        <div class="eds-page-layout__content">
          <eds-message severity="{%- if status == 'Development' %}information{%- elseif status == 'Draft' -%}warning{%- endif -%}" heading-text="{%- if status == 'Development' %}Component In Development{%- elseif status == 'Draft' -%}Draft Document{%- endif -%}" content-text="More information on component status can be found <a class='eds-link' href='/resources/system-architecture/component-status/'>Here</a>"></eds-message>
        </div>
      </div>
    {%- endif %}
    <div class="eds-page-layout__section eds-accent--solid eds-text--reading-width">
      <article class="eds-page-layout__content eds-article-layout">
        <aside class="eds-article-layout__aside--sticky">
          <div class="eds-stack-layout--two">
            <edsd-nav-toc heading="Overview" l1="h2" l2="h3"></edsd-nav-toc>
            <div class="eds-stack-layout--half">
              <h4 class="eds-text--label-legend">Resources</h4>
              {% if resources.figma %}
                <eds-link href="{{ resources.figma }}" target="_blank">
                  Figma
                </eds-link>
              {% endif %}
            </div>
          </div>
        </aside>
        <div class="eds-article-layout__main eds-text--with-margins eds-stack-layout">
          <div class="eds-html-content">
            {{ content | safe }}
            {%- if storybook %}
              {%- if storybook.name %}
                <h2>Code</h2>
                {%- if (akfw5) or (apex)%}
                <h3>Apex Kit for Web 5</h3>
                <eds-message
                  severity="warning"
                  heading-text="Apex{%- if akfw5 %}&nbsp;Kit for Web 5{%- endif %} is now the eds{%- if akfw5 %}&nbsp;web component{%- endif %} library of record."
                  headling-level="3"
                  content-text="Please refer to the Code tab of&nbsp;{%-if akfw5 %}{%- for item in akfw5 %}{%- if loop.index > 1 %} and&nbsp;{%- endif %}<eds-link 
                    opens-new-window
                    href='https://providence.fmr.com/5.x/components/{{ item }}/{{ item }}.html?tab=code'
                    >{{ item }}</eds-link>{%- endfor %} on the Apex Kit for Web 5 documentation site.{%- endif %}{%-if apex %}{%- for item in apex %}{%- if loop.index > 1 %} and&nbsp;{%- endif %}<eds-link 
                    opens-new-window
                    href='https://apex.fmr.com/components/{{ item }}'
                    >{{ item }}</eds-link>{%- endfor %} on the Apex documentation site.{%- endif %}"></eds-message>
                {%- endif %}
              {% endif %}
            {% endif %}
          </div>
        </div>
      </article>
    </div>
  </div>
</main>
