---
permalink: /search-index.json
excludeFromSearch: true
eleventyExcludeFromCollections: true
---
[
  {% for item in collections.all %}
    {% if not item.data.excludeFromSearch and item.url != "/search-index.json" %}
      {
        "title": "{{ item.data.title | escape }}",
        "url": "{{ item.url }}",
        "content": "{{ item.templateContent | striptags | escape }}",
        "description": "{{ item.data.description | escape }}",
        "type": "{{ item.data.contentType or 'Page' }}",
        "date": "{{ item.date | dateToISO }}"
      }{% if not loop.last %},{% endif %}
    {% endif %}
  {% endfor %}
]